<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC255</string>
					<key>CodecID</key>
					<integer>283902549</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABlxwwAZcdEAGXHosBlx8AAhccUAIX
					HRACFx4rAhcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC255_v1</string>
					<key>CodecID</key>
					<integer>283902549</integer>
					<key>ConfigData</key>
					<data>
					AbccIAG3HQABtx6gAbcfkAFHHDABRx0AAUce
					FwFHH5ACFxxQAhcdEAIXHiECFx8AAUcMAgIX
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC255_v2</string>
					<key>CodecID</key>
					<integer>283902549</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABdxwwAXcdAAF3HgABdx9AAdccQAHX
					HQAB1x5wAdcfQAIXHFACFx0QAhceIQIXHwIB
					RwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC255 for Asus X556UA m-dudarev</string>
					<key>CodecID</key>
					<integer>283902549</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAGXHCABlx0QAZce
					gQGXHwQCFxwgAhcdEAIXHiECFx8EAbccMAG3
					HQEBtx6gAbcfkAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Realtek ALC255 for Lenovo B470 - vusun123</string>
					<key>CodecID</key>
					<integer>283902549</integer>
					<key>ConfigData</key>
					<data>
					ASccYAEnHQABJx6gAScfkAFHHCABRx0AAUce
					FwFHH5ABRwwCAhccMAIXHRACFx4hAhcfAQ==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Insanelydeepak - Realtek ALC256 (3246) for Dell Series</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABlxwwAZcdEAGXHosBlx8CAhccUAIX
					HRACFx4rAhcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone Laptop patch ALC269 Asus N53J</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AYccIAGHHRABhx6BAYcfBAGXHBABlx0BAZce
					oAGXH5kBtxxAAbcdAQG3HhMBtx+ZAhccUAIX
					HRACFx4hAhcfBAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v1</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccQAFHHQEBRx4TAUcfmQGHHCABhx0QAYce
					gQGHHwMBlxwQAZcdAQGXHqABlx+ZAhccUAIX
					HRACFx4hAhcfAwFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Mirone - Realtek ALC269 for Asus K53SJ, Asus G73s</string>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAFHHBABRx0BAUce
					EwFHH5ABdxxQAXcdAQF3HhMBdx+QAYccIAGH
					HZABhx6BAYcfAwGXHDABlx0BAZceoAGXH5AB
					pxzwAacdAAGnHgABpx9AAbcc8AG3HQABtx4A
					AbcfQAHXHPAB1x0AAdceAAHXH0AB5xzwAecd
					AAHnHgAB5x9AAhccQAIXHRACFx4hAhcfAwFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v2</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4TAUcfkAGHHCABhx2QAYce
					gQGHHwIBtxwwAbcdEAG3HqABtx+QAhccQAIX
					HRACFx4hAhcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VB v3</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					EwFHH5ABhxwwAYcdEAGHHoEBhx8AAhccUAIX
					HRACFx4hAhcfAAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VC v1</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4TAUcfkAGHHDABhx0QAYce
					gQGHHwABJxxAAScdAAEnHqABJx+QAVccUAFX
					HRABVx4hAVcfAAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269-VC v2</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFXHCABVx0QAVce
					IQFXHwABhxwwAYcdEAGHHoEBhx8CAbccQAG3
					HQABtx4XAbcfkAG3DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269VC-v3</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABVxwwAVcdEAFXHiEBVx8AAYccQAGH
					HZABhx6BAYcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269VB v4</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					EwFHH5ABhxwwAYcdEAGHHoEBhx8AAhccUAIX
					HRACFx4hAhcfAAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mosser - ALC269VB Dell Precision Workstation T1600</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AbccIAG3HUABtx4BAbcfAQGHHDABhx2YAYce
					gQGHHwIBlxxAAZcdmAGXHoEBlx8BAhccUAIX
					HUACFx4hAhcfAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>InsanelyDeepak - Realtek ALC269VC for Samsung NP350V5C-S08IT</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AZccEAGXHQABlx6nAZcfmQFXHCABVx0QAVce
					IQFXHwIBhxwwAYcdEAGHHoEBhx8CAUccQAFH
					HQABRx4XAUcfmQFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Custom ALC269VC for Samsung NT550P7C-S65 with subwoofer 2.1ch by Rockjesus</string>
					<key>ConfigData</key>
					<data>
					AVccEAFXHRABVx4hAVcfAQGHHCABhx0QAYce
					gQGHHwEBlxwwAZcdAQGXHqcBlx+QAbccQAG3
					HQEBtx4XAbcfkAF3HEEBdx0BAXceFwF3H5AB
					JxzwAScdAAEnHgABJx9AAUcc8AFHHQABRx4A
					AUcfQAGnHPABpx0AAaceAAGnH0AB1xzwAdcd
					AAHXHgAB1x9AAecc8AHnHQAB5x4AAecfQAG3
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>MacPeet - ALC269VB for Dell Optiplex 790</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AbccIAG3HUABtx4BAbcfAQGHHDABhx2QAYce
					gQGHHwIBlxxAAZcdkAGXHoEBlx8BAhccUAIX
					HUACFx4hAhcfAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>MacPeet - ALC269VB for Dell Optiplex 790 Version2</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AbccIAG3HUABtx4RAbcfkAGHHDABhx2QAYce
					oQGHH5ABlxxAAZcdkAGXHoEBlx8BAhccUAIX
					HUACFx4hAhcfAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Asus Vivobook S300CA - Realtek ALC269VB</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAFHHCABRx0BAUce
					FwFHH5AB1xwwAdcdkAHXHgcB1x9AAhccQAIX
					HRACFx4hAhcfBAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Custom ALC269 Sony Vaio VPCEB3M1R by Rodion</string>
					<key>ConfigData</key>
					<data>
					AVccQAFXHRABVx4hAVcfAwGHHCABhx0QAYce
					gQGHHwMBlxwwAZcdAQGXHqABlx+QAbccEAG3
					HQEBtx4XAbcfkAFXDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Custom ALC269 for Acer Aspire by Andrey1970</string>
					<key>ConfigData</key>
					<data>
					AUccAAFHHUEBRx4XAUcfmQGHHBABhx2QAYce
					gQGHHwEBtxwgAbcdkQG3HqcBtx+ZAhccMAIX
					HUACFx4hAhcfAQ==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>ALC269VC</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>ALC269VC for Lenovo Z580, John</string>
					<key>ConfigData</key>
					<data>
					AVccQAFXHRABVx4hAVcfAwGHHCABhx0QAYce
					gQGHHwMBlxwwAZcdAQGXHqABlx+QAbccEAG3
					HQEBtx4XAbcfkAFXDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>ALC269VC for Lenovo V580, ar4er</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABVxwwAVcdEAFXHiEBVx8AAYccQAGH
					HZABhx6BAYcfAgFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Custom ALC269 Samsung np880z5e-x01ru by Constanta</string>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAG3HCABtx0AAbce
					FwG3H5ABVxwwAVcdEAFXHiEBVx8AAYccQAGH
					HZABhx6BAYcfAgG3DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>Comment</key>
					<string>Custom ALC269VC for Samsung NP530U3C-A0F by BblDE3HAP</string>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAFHDAIBVxxAAVcd
					EAFXHiEBVx8DAVcMAgGHHCABhx0QAYcegQGH
					HwMBlxwwAZcdAQGXHqABlx+Q
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>33</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC269VC - Samsung NP350V5C-S0URU</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQABRx4XAUcfkAGHHCABhx0QAYce
					gQGHHwIBVxwwAVcdEAFXHiEBVx8CAZccQAGX
					HQABlx6gAZcfkAFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>vusun123 - Realtek ALC269VC for Lenovo W530</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccQAEnHQABJx6gAScfkAFHHBABRx0AAUce
					FwFHH5ABRwwCAVccIAFXHRABVx4hAVcfAAGH
					HDABhx0QAYcegQGHHwA=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>40</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Custom ALC269VB for ENZ C16B by jimmy19990</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4TAUcfkAGHHCABhx0QAYce
					gQGHHwEBlxwgAZcdAQGXHqABlx+QAhccEAIX
					HRACFx4hAhcfAQFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>76</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
