<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>AFGLowPowerState</key>
			<data>
			AwAAAA==
			</data>
			<key>Codec</key>
			<string>Rockjesus - Realtek ALC256 (3246) - dell 7559</string>
			<key>CodecID</key>
			<integer>283902550</integer>
			<key>ConfigData</key>
			<data>
			ASccAAEnHQEBJx6mAScfmQFHHBABRx0BAUceFwFHH5kCFxwgAhcd
			EAIXHiECFx8BAbcMAg==
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>11</integer>
			<key>WakeConfigData</key>
			<data>
			AUcMAg==
			</data>
			<key>WakeVerbReinit</key>
			<true/>
		</dict>
		<dict>
			<key>AFGLowPowerState</key>
			<data>
			AwAAAA==
			</data>
			<key>Codec</key>
			<string>Insanelydeepak - Realtek ALC256 (3246) for Dell Series</string>
			<key>CodecID</key>
			<integer>283902550</integer>
			<key>ConfigData</key>
			<data>
			ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUceFwFHH5ABlxwwAZcd
			EAGXHosBlx8CAhccUAIXHRACFx4rAhcfAgE3HPABNx0AATceAAE3
			H0ABhxzwAYcdAAGHHgABhx9AAacc8AGnHQABpx4AAacfQAG3HPAB
			tx0AAbceAAG3H0AB1xzwAdcdAAHXHgAB1x9AAecc8AHnHQAB5x4A
			AecfQAFHDAI=
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>13</integer>
			<key>WakeConfigData</key>
			<data>
			AUcMAg==
			</data>
			<key>WakeVerbReinit</key>
			<true/>
		</dict>
		<dict>
			<key>AFGLowPowerState</key>
			<data>
			AwAAAA==
			</data>
			<key>CodecID</key>
			<integer>283902550</integer>
			<key>Comment</key>
			<string>vusun123 - ALC256 for Asus X555UJ</string>
			<key>ConfigData</key>
			<data>
			AUccUAFHHQABRx4XAUcfkAFHDAIBpxwwAacdAAGnHqABpx+QAhcc
			IAIXHRACFx4hAhcfAA==
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>28</integer>
			<key>WakeConfigData</key>
			<data>
			AUcMAg==
			</data>
			<key>WakeVerbReinit</key>
			<true/>
		</dict>
		<dict>
			<key>AFGLowPowerState</key>
			<data>
			AwAAAA==
			</data>
			<key>Codec</key>
			<string>DalianSky - Realtek ALC256 (3246) for Dell 7000 Series</string>
			<key>CodecID</key>
			<integer>283902550</integer>
			<key>ConfigData</key>
			<data>
			ASccMAEnHQEBJx6mAScfkAE3HPABNx0AATceAAE3H0ABRxwQAUcd
			AQFHHhcBRx+QAUcMAgGHHPABhx0AAYceAAGHH0ABlxxAAZcdEAGX
			HoEBlx8CAacc8AGnHQABpx4AAacfQAG3HPABtx0AAbceAAG3H0AB
			1xzwAdcdAAHXHgAB1x9AAecc8AHnHQAB5x4AAecfQAIXHCACFx0Q
			AhceIQIXHwICFwwC
			</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>56</integer>
			<key>WakeConfigData</key>
			<data>
			AUcMAg==
			</data>
			<key>WakeVerbReinit</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
